# Assignment

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is an organized collection of data that can be accessed, managed, and updated easily. It is typically designed to efficiently store and retrieve large amounts of data in a structured manner. Databases are used in a wide range of applications, including websites, mobile apps, enterprise software, and more.

There are two broad categories of databases: SQL and NoSQL. SQL databases are relational databases that store data in tables with rows and columns, which are connected by keys that establish relationships between the data. SQL databases use a standardized language called SQL (Structured Query Language) to interact with the data.

NoSQL databases, on the other hand, are non-relational databases that store data in a variety of different formats, such as key-value pairs, documents, or graphs. NoSQL databases are designed to be highly scalable and flexible, making them well-suited for applications that require large volumes of unstructured or semi-structured data.

Some key differences between SQL and NoSQL databases include:

1. Data structure: SQL databases use a tabular structure with rows and columns, while NoSQL databases use various data models such as document, key-value, graph, and others.

2. Scalability: NoSQL databases are highly scalable and can easily handle large amounts of data and high traffic loads, while scaling SQL databases can be more complex.

3. Flexibility: NoSQL databases are highly flexible and can adapt to changing data structures and types, while SQL databases have more rigid structures.

4. Query language: SQL databases use SQL as a standardized language for querying and managing data, while NoSQL databases use a variety of query languages and APIs.

5. ACID compliance: SQL databases are typically ACID-compliant, meaning they provide transactional consistency and data integrity, while NoSQL databases may prioritize availability and partition tolerance over strict consistency.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define and modify the structure of a database. DDL statements are used to create, modify, and delete database objects, such as tables, views, indexes, and other schema-level objects.

1. CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, and constraints. For example, to create a new table named "employees" with columns for employee ID, name, and salary, 

CREATE TABLE employees (

   employee_id INT,
   
   name VARCHAR(50),
   
   salary DECIMAL(10,2)
);


2. DROP: The DROP statement is used to delete existing database objects. For example, to delete the "employees" table,

DROP TABLE employees;


3. ALTER: The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table. For example, to add a new column for employee age to the "employees" table

ALTER TABLE employees ADD age INT;


4. TRUNCATE: The TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact. For example, to remove all data from the "employees" table, 

TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in a database. DML statements are used to insert, update, and delete data from tables in the database.

1. INSERT: The INSERT statement is used to add new rows of data to a table. For example, to add a new employee record to the "employees" table created earlier with the DDL statement, the following INSERT statement could be used:

In [ ]:
INSERT INTO employees (employee_id, name, salary, age)
VALUES (1, 'John Smith', 50000.00, 30);
# This statement would add a new employee record to the "employees" table with the employee ID of 1,
# the name of John Smith, a salary of $50,000, and an age of 30.

2. UPDATE: The UPDATE statement is used to modify existing data in a table. For example, to update the salary of an employee with the employee ID of 1 to $55,000,

In [ ]:
UPDATE employees
SET salary = 55000.00
WHERE employee_id = 1;
# This statement would update the salary of the employee with the employee ID of 1 to $55,000 in the
# "employees" table.

3. DELETE: The DELETE statement is used to remove rows of data from a table. For example, to delete the employee record with the employee ID of 1 from the "employees" table,

In [ ]:
DELETE FROM employees
WHERE employee_id = 1;
# This statement would remove the employee record with the employee ID of 1 from the "employees" table.

### Q4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The SELECT statement is the most commonly used DQL statement, used to retrieve data from one or more tables in a database.

SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE) that specify criteria. The syntax is:
  SELECT * FROM Customers WHERE Last_Name='Smith';

### Q5. Explain Primary Key and Foreign Key.

Ans: A primary key and a foreign key are both types of constraints that can be used to ensure data integrity in a relational database.

A primary key is a column or set of columns that uniquely identifies each row in a table. It is used to enforce the entity integrity constraint, which ensures that each row in the table is unique and can be identified by a unique value. A primary key can be composed of one or more columns in a table and can be either a single column or a combination of columns. The values in the primary key column(s) must be unique, and cannot be null. A primary key can be used as a reference in another table using a foreign key constraint.

A foreign key is a column or set of columns in a table that refers to the primary key of another table. It is used to enforce the referential integrity constraint, which ensures that the data in a table is consistent and accurate. The foreign key constraint creates a relationship between two tables, and ensures that the values in the foreign key column(s) in one table correspond to the values in the primary key column(s) in another table. This constraint can prevent the insertion of invalid data, by preventing the insertion of data into the foreign key column(s) that does not exist in the primary key column(s) of the referenced table

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM yourtable")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: In an SQL query, the clauses are executed in the following order:

1. FROM - This clause specifies the tables from which the data is selected.

2. WHERE - This clause specifies the conditions that must be met in order for the rows to be returned.

3. GROUP BY - This clause is used to group the rows based on one or more columns.

4. HAVING - This clause is used to filter the grouped rows based on certain conditions.

5. SELECT - This clause specifies the columns to be included in the result set.

6. DISTINCT - This clause is used to remove duplicates from the result set.

7. ORDER BY - This clause is used to sort the result set based on one or more columns.

8. LIMIT - This clause is used to limit the number of rows returned.